#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wrapper{
  -webkit-transition: all 0.5s ease-out;
}
#content-wrapper {
  padding:100px 10px 40px 10px;
}
#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
}
body{
  background: #F9F9F9;
}
body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 90px;
}
body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
}
@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
  }
}
.barra-fija{
  z-index: 99;
  position: fixed;
  width: 100%;
}
#nivel-1 > li > a {
  padding: 5px 8px 8px 12px;
  text-decoration: none;
  color: #abadb6;
  font-size: 14px;
  display: block;
  height: 30px;
}
#nivel-2 > li > a {
  padding: 5px 8px 8px 32px;
  text-decoration: none;
  color: #abadb6;
  font-size: 14px;
  display: block;
  height: 30px;
}
#nivel-3 > li > a {
  padding: 5px 0px 8px 75px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 30px;
  color: #abadb6;
  transition: all 0.2s;
}
/*#nivel-3 > li > a:hover{
  background: #2d3136;
  color: white;
}*/
/* ********** BOTON PARA ACTIVAR EL MENU LATERAL******** */
.btn-menu{
  border-radius: 30px;
  color: #fff;
  padding: 11px 10px;
  transition: all 0.3s;
}
.btn-menu:hover{
  cursor: pointer;
  background: #595959;
}
.btn-menu:active{
  background: #7e7e7e;
}
/* ****************************************************** */
#dashboard{
  background-color: #242930;
  border-right: 1px solid rgb(200, 207, 204);
  height: 100%;
  margin-left: -280px;
  position: fixed;
  width: 280px;
  z-index: 10;
}
#dashboard {
  -webkit-transition: all 0.5s ease-out;
}
#dashboard {
    transition: all 0.3s;
}
#dashboard.active {
  margin-left: 0;
}
#dashboard-contenido{
  height: calc(100% - 65px);
  margin-top: 65px;
  overflow-y: scroll;
  padding-bottom: 40px;
  padding-top: 20px;
}
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.2s;
  position: absolute;
  right: 0;
}
#content.active {
  width: calc(100% - 280px);
}
/* ---------------------------------------------------
COLOR Y ANIMACION DE LA LISTA DE OPCIONES
----------------------------------------------------- */
a > #caret{
  padding: 0 5px 0 5px;
}
.rotate{
	-moz-transition: all 0.5 linear;
	-webkit-transition: all 0.5 linear;
	transition: all 0.5 linear;
}
.rotate.down{
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.color-select{
  background: rgb(45, 109, 149);
}
/* ---------------------------------------------------
CARD-ICON
----------------------------------------------------- */
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.o-hidden {
  overflow: hidden !important;
}
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #content.active {
    width: 100%;
  }
  #sidebarCollapse span {
    display: none;
  }
}
