body{
  background-color: #E5E7E9;
}

#nivel-1 > li > a {
  padding: 5px 8px 8px 12px;
  text-decoration: none;
  color: #abadb6;
  font-size: 14px;
  display: block;
  height: 30px;
}
#nivel-2 > li > a {
  padding: 5px 8px 8px 32px;
  text-decoration: none;
  color: #abadb6;
  font-size: 14px;
  display: block;
  height: 30px;
}
#nivel-3 > li > a {
  padding: 5px 0px 8px 75px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 30px;
  color: #abadb6;
  transition: all 0.2s;
}
#dashboard{
  background-color: #242930;
  border-right: 1px solid rgb(200, 207, 204);
  height: 100%;
  margin-left: -280px;
  position: fixed;
  width: 280px;
  z-index: 10;
}
#dashboard {
  -webkit-transition: all 0.5s ease-out;
}
#dashboard {
  transition: all 0.3s;
}
#dashboard.active {
  margin-left: 0;
}
#dashboard-contenido{
  height: calc(100% - 65px);
  margin-top: 65px;
  overflow-y: scroll;
  padding-bottom: 40px;
  padding-top: 20px;
}
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#main-panel{
  margin-top: 65px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.2s;
  position: absolute;
  right: 0;
}
#main-panel.active {
  width: calc(100% - 280px);
}

/* ---------------------------------------------------
COLOR Y ANIMACION DE LA LISTA DE OPCIONES
----------------------------------------------------- */
a > #caret{
  padding: 0 5px 0 5px;
}
.rotate{
  -moz-transition: all 0.5 linear;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}
.rotate.down{
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.color-select{
  background: rgb(45, 109, 149);
}

/* ---------------------------------------------------
CARD
----------------------------------------------------- */
.main-card{
  background-color: #fff;
  border:none;
  border-radius: 10px;
  margin: 40px 25px;
  min-height: 500px;
  padding: 20px 10px;
}

.card-rol {
  cursor: pointer;
  background-color: #fff;
  color: #32325d;
  border:0;
  border-radius: 10px;
  margin-bottom: 30px;
  min-height: 150px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-rol:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.card-rol .rol-title {
  font-weight: 600;
  font-size: 12px;
  color: #2b353a;
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.o-hidden {
  overflow: hidden !important;
}
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #main-panel.active {
    width: 100%;
  }
  #sidebarCollapse span {
    display: none;
  }
}
